PORT=3000
DATABASE_URL="postgresql://postgres:postgres@localhost:5432/clyptus_job_portal?schema=public"
JWT_SECRET="clyptus-job-portal-jwt-secret-key-2026"
REDIS_HOST="localhost"
REDIS_PORT=6379
OPENSEARCH_NODE="http://localhost:9200"
AWS_REGION="us-east-1"
AWS_S3_BUCKET="clyptus-resumes"
GEMINI_API_KEY="AIzaSyDummyDevKeyForRecruiter"
